<header class="site_header site_header-inner">
    <div class="site_header-content">
        <ul class="inner-nav">
            <a href='/welcome' class="inner-nav__item inner-nav__item--home"></a>
            <a href='/time' class="inner-nav__item">Timesheets</a>
            <a href='/projects' class="inner-nav__item">Projects</a>
            <a href='/team' class="inner-nav__item">Team</a>
            <a href='/reports' class="inner-nav__item">Reports</a>
            <a href='/invoices' class="inner-nav__item">Invoices</a>
            <a href='/manage' class="inner-nav__item">Manage</a>
        </ul>
        <ul class="inner-header-options">
            <li class="inner-header-options__item">Help</li>
            <li class="inner-header-options__item">Settings</li>
            <li class="inner-header-options__item inner-header-options__dropdown">
                <%- img_tag('./images/cornell_clock_tower.png') %>
                <label>Dylan</label>
                <i class="inner-header-options__chevron"></i>
            </li>
        </ul>
    </div>
</header>