<%- include('../partials/site_header'); %>
<div class="signup_page">
  <div class="signup_page-content">

    <h2 class="signup_page-header">
      Start your free 30-day trial.
    </h2>

    <h3 class="signup_page-subheader">
      Fully functional. No credit card required
    </h3>

    <div class="signup_page-form">
        <form id="signup-form">

          <div class="field">
            <label>First Name</label>
            <input type="text" value="first name" >
          </div>

          <div class="field">
            <label>Last Name</label>
            <input type="text">
          </div>

          <div class="field">
            <label>Company Name</label>
            <input type="text">
          </div>

          <div class="field">
            <label>Email</label>
            <input type="text">
          </div>

          <div class="field">
            <label>Contact Phone</label>
            <input type="text">
          </div>

          <div class="field">
            <label>Password</label>
            <input type="text">
          </div>

          <div class="field">
            <label>Web Address</label>
            <div class="signup_page-webAddressField">
              <input type="text">
              <span>.shmarvest.com</span>
            </div>
          </div>

          <div class="field">
            <label>Team Size</label>
            <select form="signup-form">
              <option value="1">1</option>
              <option value="2-4">2-4</option>
              <option value="5-9">5-9</option>
              <option value="10-49">10-49</option>
              <option value="50+">50+</option>
            </select>
          </div>

          <div class="actions">
            <button type="submit" form="signup-form" value="Submit" class="signup_page-signupButton"> Create My Account</button>
          </div>
        </form>
      <div class="signup_page-fiveReasonsWrapper">
        <div class="signup_page-fiveReasons">
          <h5> 5 Reasons You'll Love Shmarvest </h5>
          <ol>
            <li>Fast to set up and easy to use</li>
            <li>Look professional with style</li>
            <li>Your data stays safe and secure</li>
            <li>Track and grow your business</li>
            <li>Real people to answer your questions</li>
          </ol>
        </div>
      </div>

    </div>
  </div>
</div>