<link rel='stylesheet' href='css/application.css' >
<body class="signin-page">
  <div class="signin-page__card">
    <h1 class="signin-page__heading">Shmarvest ID</h1>
    <h2 class="signin-page__caption">
      Sign in to a <b>Shmarvest</b> account
    </h2>

    <form>
      <input type="email" class="signin-page__field" placeholder="Email" autofocus="true"/>
      <input type="password" class="signin-page__field" placeholder="Password"/>

      <div class="actions">
        <input type="submit" value="Sign In" class="signin-page__signin-button"/> 
      </div>

      <div class="signin-page__signin-extras">
        <div class="signin-page__remember-me">
          <input type="checkbox"/>
          <label> Keep me signed in </label>
        </div>
        <a class="signin-page__forgot-password">Forgot your password?</a>
      </div>

    </form>
  </div>
</body>