<div class="subnav">
    <div class="subnav__content">
        <div class="subnav__project-controls">
            <button class="button-secondary" disabled>+ New Project</button>
            <button class="button-secondary">Export</button>
            <span>
                <a class="subnav__upgrade-link">Upgrade your account</a>
                to add more projects!
            </span>
        </div>
        <input type="text" placeholder="Search by client or project name" class="subnav__project-search">
    </div>
</div>