<div class="entry-modal__overlay entry-modal__overlay--hidden">
    <div class="entry-card">

        <div class="entry-card__header">
            <span class="entry-card__header-strut"></span>
            <span class="entry-card__header-title">New Time Entry</span>
            <span class="entry-card__header-details">Thursday, 08 Dec</span>
        </div>

        <form class="entry-card__form">
            <label class="entry-card__input-label">Project / Task</label>
            <div class="chosen-select-wrapper">
                <select class="chosen-select">
                    <option>Valia</option>
                    <option>Blitz</option>
                </select>
            </div>
            <div class="chosen-select-wrapper">
                <select class="chosen-select">
                    <option>Graphic Design</option>
                    <option>Programming</option>
                    <option>Management</option>
                </select>
            </div>
            <div class="entry-card__input-group">
                <textarea class="entry-card__notes" placeholder="Notes (optional)"></textarea>
                <input class="entry-card__duration" placeholder="0:00" type="text" value="">
            </div>
            <div class="entry-card__actions">
                <button class="entry-card__save-button" id="entry-card-save-button">Save Entry</button>
                <button class="entry-card__cancel-button" id="entry-card-cancel-button">Cancel</button>
            </div>
        </form>

    </div>
</div>