<div class="subnav">
    <div class="subnav__content">
        <a class="subnav__tab-title--active" href="/time">Time</a>
        <a class="subnav__tab-title" href="/time">Expenses</a>
    </div>
</div>